<%- include('header')%>
<div class="result">
  <% if (error) { %>
  <%= error %>
  <% } else { %>
  <h2>Welcome!</h2>
  <p>This is: <%= date %></p>
  <p>You have: $ <%= quantity %></p>
  <p>Today's Quotation: BRL <%= quotation%></p>
  <p>Your converted total in BRL is: R$ <%= conversion %></p>
  <% } %>
</div>
<%- include('footer')%>